{% extends "layout.html" %}

{% block title %}
    Model
{% endblock %}

{% block main %}
    <div class="container">
        <h1 id="metrics">Key Model Metrics for {{ selected_index }} Index</h1>
        <img id="confusion" src="{{ url_for('static', filename=confusion) }}" alt="confusion matrix"/>
        <p class="lead">Model Accuracy: {{ accuracy }}</p>

        <h2>Feature Importance</h2>
        <table class="importance table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Feature</th>
                    <th class="text-end">Importance</th>
                </tr>
            </thead>
            <tbody>
                {% for row in importance %}
                <tr>
                    <td class="text-start">{{ row.feature }}</td>
                    <td class="text-end">{{ row.importance|round(4) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}