{% extends "layout.html" %}

{% block title %}
    Model
{% endblock %}

{% block main %}
    <div class="container">

        <h1 id="about">About the model</h1>
        <p class="lead">This objective of this model is to predict whether future monthly returns on the SP500 will
            be positive or negative.Data is pulled in through Yahoo Finance (yfinance) and cleaned/evaluated with
        Pandas. For future months, the models outputs either a 0 (negative monthly return) or a 1 (positive monthly return)
        </p>
        <!-- Your app content goes here -->
    </div>
{% endblock %}