{% extends "layout.html" %}

{% block title %}
    Model Test Predictions
{% endblock %}

{% block main %}
<h3>{{ selected_index }} Test Data and Predictions</h3>
<table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Actual</th>
                <th>Predicted</th>
                <th>Matches</th>
            </tr>
        </thead>
        <tbody>
            {% for r in results %}
                <tr>
                    <td>{{ r['Date'] }}</td>
                    <td>{{ r['Actual'] }}</td>
                    <td>{{ r['Predicted'] }}</td>
                    <td>{{ r['Matches'] }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


